{% extends 'base.html.twig' %}

{% block title %}Survey for {{ categories.quiz_name }}{% endblock %}

{% block body %}
<h1>{{ categories.quiz_name }} Servey</h1>

{# {{ form_start(form) }}
        {{ form_widget(form) }}
 {{ form_end(form) }}    #}


<form action="{{ path("save_survey") }}" method="post">

<input type="hidden" name="token" value="{{ csrf_token('survey_submit') }}"/>
    <fieldset>
        {% for q_key, question in categories.questions %}
        <fieldset class="form-group">
            <legend>{{ question.question }}</legend>

            {% for key, answer in question.answers %}

            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="questions[{{ q_key }}]"
                        value="{{ key }}" required>
                    {{ answer }}
                </label>
            </div>

            {% endfor %}
        </fieldset>
        {% endfor %}

        <fieldset class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </fieldset>


    </fieldset>
    
</form>

<br>
<a href="{{ path('homepage') }}">back to list</a>
{% endblock %}