{% extends 'base.html.twig' %}

{% block title %}Survey for {{ quizes.quiz_name }}{% endblock %}

{% block body %}
<h1>{{ quizes.quiz_name }} Servey</h1>

{# {{ form_start(form) }}
        {{ form_widget(form) }}
 {{ form_end(form) }}    #}


<form action="{{ path("quiz_save_quiz") }}" method="post">

    <input type="hidden" name="token" value="{{ csrf_token('survey_submit') }}" />
    <fieldset>
        {% for q_key, question in quizes.questions %}
        <fieldset class="form-group">
            <legend>{{ question.question }}</legend>

            {% for key, answer in question.answers %}

            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="questions[{{ q_key }}]" value="{{ key }}"
                        required>
                    {{ answer }}
                </label>
            </div>

            {% endfor %}
        </fieldset>
        {% endfor %}

        <fieldset class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </fieldset>


    </fieldset>

</form>
{# {{ dump(form) }}

{{ dump(form.questions) }}
{# {{ form_start(form) }}
    {# {{ form_row(form.question) }} #}

{# <ul class="questions">
        {% for questions in form.quiz %}
            <li>{{ form_row(question.question) }}</li>
        {% endfor %}
    </ul>  #}

{# <h3>Answers</h3>
    <ul class="answers">
        {% for answer in form.answers %}
            <li>{{ form_row(answer.answer) }}</li>
        {% endfor %}
    </ul> 
{{ form_end(form) }}  #}


<br>
<a href="{{ path('quiz_homepage') }}">back to list</a>
{% endblock %}